body {
    margin: 40px;
    font-family: 'Comic Sans', sans-serif;
}

header {
    background: url("design1_image1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -13px;
    height: 400px;
    width: auto;
}

h1 {
    text-align: center;
    font-size: 3em;
    padding-top: 20px;
}

div {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    color: white;
    background-color: black;
    padding: 10px 0;
}

img {
    position: absolute;
    right: 100px;
    top: 347px;
    height: 5em;
    width: 5em;
}

section {
    display: inline-block;
    padding-top: 50px;
}

p   {
    padding-left: 10px;
    line-height: 35px;
}
ul  {
    list-style-type: none;
    padding-left: 0;
}

nav ul li  {
    padding-bottom: 40px;
}

h3 {
    font-size: 2em;
}

.current {
    text-decoration: none;
    font-weight: bolder;
}

.smaller {
    margin: 0;
    width: 20%;
    vertical-align: top;
}
.larger {
    margin: 0;
    width: 75%;
    vertical-align: top;
}